/* Tailwind base, components, and utilities. */
/* stylelint-disable-next-line scss/at-rule-no-unknown */
@tailwind base;
/* stylelint-disable-next-line scss/at-rule-no-unknown */
@tailwind components;
/* stylelint-disable-next-line scss/at-rule-no-unknown */
@tailwind utilities;

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}
